{% extends "base.html" %}
{% block content %}
<h1>Una forma única de administrar etiquetas súper patentada que cambia el mundo</h1>
<p>Este es el único sitio web jamás diseñado que tiene al menos una de las propiedades comunes a cualquier otro sitio
    web jamás diseñado.</p>
<p>A highly respected source has said, "I'd rather use this site than use one of the best sites in the world!"'</p>
<p>Una fuente muy respetada ha dicho: "¡Prefiero usar este sitio que usar uno de los mejores sitios del mundo!",</p>

<iframe src="https://giphy.com/embed/Bo2WsocASVBm0" width="480" height="360" frameBorder="0" class="giphy-embed"
    allowFullScreen></iframe>
<p><a href="https://giphy.com/gifs/80s-nbc-knight-rider-Bo2WsocASVBm0">via GIPHY</a></p>

<p>Desa ser un sitio web realmente bueno!</p>
{% endblock %}